h1{
    color:aquamarine;
    border-style: solid;

}

.banniere{
    padding: 100px 0;
    background: url('banniere_body.jpg');
    background-size:cover;
    background-position:center;
    text-align:center;
}

.lien_page_web{
    display:flex;
    justify-content: space-between;
    gap: 20%;
}

.lien_accueil{
    
    border-style: solid ;
    border-color: black; 
    width:20%;
    text-align: center;
}

.lien_menu{
    border-style: solid ;
    border-color: black; 
    width:20%;
    text-align: center;
}

.lien_index{
    border-style: solid ;
    border-color: black; 
    width:20%;
    text-align: center;
}

.lien_album_photo{
    border-style: solid ;
    border-color: black; 
    width:20%;
    text-align: center;
}

h2:hover{
    opacity: 20%;
    text-decoration: underline;
    display: flex;
}

p:active{
    text-decoration-color: blueviolet;
}

.conteneur{
    display: grid;
    
}

.item_one {
    display:grid;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    
  }

.item_two{
    display:grid;
    justify-items: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.item_three{
    display:grid;
    justify-items: center;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 6;

}

.item_four{
    display:grid;
    justify-items: center;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1 ;
    grid-column-end: 6;
}

.item_five{
    display:grid;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item_six{
    display:grid;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
}

.item_seven{
    display:grid;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;
}

.item_eight{
    display:grid;
    justify-items: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item_seven{
    display:grid;
    justify-items: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item_eight{
    display:grid;
    justify-items: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item_nine{
    display:grid;
    justify-items: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
}

.item_ten{
    display:grid;
    justify-items: center;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
}

.item_eleven{
    display: grid;
    justify-items: center;
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item_twelve{
    display:grid;
    justify-items: center;
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 6;
}


.item_album_photo{
    display: grid;
    padding: 10% 0;
}

.picture_1{
    display:grid;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    
}

.item_album_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    gap:2%;
}

.picture_2{
    display:grid;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

.picture_3{
    display:grid;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

.picture_4{
    display:grid;
    justify-items: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.picture_5{
    display:grid;
    justify-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.picture_6{
    display:grid;
    justify-items: center;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.picture_7{
    display:grid;
    justify-items: center;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.picture_8{
    display:grid;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.picture_8{
    display:grid;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.picture_9{
    display:grid;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.picture_10{
    display:grid;
    justify-items: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}

