body{
    margin: 0;
    padding: 0;
}

header{
    width: 1500px;
    height: 125px;
    margin-top: -15px;
    background-color: beige;
    
}

li{
    list-style-type: none;
    padding:20px;
    display: inline-block;
}

nav ul a{
    text-decoration: none;
    letter-spacing: 0.2em;
}

nav ul a:hover{
    color:red;
}

.header_liens{
    position: relative;
    top: 27px;
    left: 300px;
}


